<div>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a
        class="nav-item nav-link"
        id="nav-Businesses-tab"
        data-toggle="tab"
        href="#nav-Businesses"
        role="tab"
        aria-controls="nav-Businesses"
        aria-selected="true"
      >
        Businesses
      </a>
      <a
        class="nav-item nav-link active"
        id="nav-signUps-tab"
        data-toggle="tab"
        href="#nav-signUps"
        role="tab"
        aria-controls="nav-signUps"
        aria-selected="true"
      >
        Sign Ups
      </a>
    </div>
    <div class="tab-content" id="nav-tabContent">
      <div
        class="tab-pane fade"
        id="nav-Businesses"
        role="tabpanel"
        aria-labelledby="nav-Businesses-tab"
      >
        <buss-businesses-page></buss-businesses-page>
      </div>
      <div
        class="tab-pane fade show active"
        id="nav-signUps"
        role="tabpanel"
        aria-labelledby="nav-signUps-tab"
      >
        <buss-sign-ups></buss-sign-ups>
      </div>
    </div>
  </nav>
</div>
