<div>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a
        class="nav-item nav-link active"
        id="nav-Members-tab"
        data-toggle="tab"
        href="#nav-Members"
        role="tab"
        aria-controls="nav-Members"
        aria-selected="true"
      >
        Members
      </a>
      <a
        class="nav-item nav-link"
        id="nav-Incentive-tab"
        data-toggle="tab"
        href="#nav-Incentive"
        role="tab"
        aria-controls="nav-Incentive"
        aria-selected="true"
      >
        Cashier Incentive
      </a>
    </div>
    <div class="tab-content" id="nav-tabContent">
      <div
        class="tab-pane fade show active"
        id="nav-Members"
        role="tabpanel"
        aria-labelledby="nav-Members-tab"
      >
        <cash-members></cash-members>
      </div>
      <div
        class="tab-pane fade"
        id="nav-Incentive"
        role="tabpanel"
        aria-labelledby="nav-Incentive-tab"
      ></div>
    </div>
  </nav>
</div>
