canvas.chartjs-render-monitor {
    margin-top: 3em;
    margin-bottom: 3em;
    @media (max-width: 480px) {
        margin-top: 1em;
        margin-bottom: 2em;
    }
    @media (min-width: 991px) {
        height: 12em !important;
        width: 25em !important;
        margin-left: -2em !important;
    }
}
canvas.chartjs-render-monitor {
    display: inherit !important;
}
.chartLaabel {
    img {
        width: 0.6em;
    }
    span {
        color: #2e384d;
        font-weight: 500;
        padding-left: 0.3em;
    }
    p {
        color: #2e384d;
        font-size: large;
        font-weight: 800;
        text-align: end;
    }
}
