<nav class="navbar navbar-expand-sm navbar-light bg-white pr-4 pt-2">
  <a class="navbar-brand"
    ><img class="logo" src="../../../assets/images/Group 984.png" width="60"
  /></a>

  <div class="navbar-user-side">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <span class="nav-link page-title">{{ getPathInfo().title }} </span>
      </li>
    </ul>
    <ul class="navbar-nav right-side d-flex align-items-center flex-row">
      <li class="nav-item active">
        <span class="page-title">Eslam Nassar </span>
      </li>
      <li class="nav-item active">
        <div class="img-container">
          <img src="../../../assets/images/Avatar.png" />
        </div>
      </li>
      <li class="nav-item active" class="">
        <a class="notication-container">
          <div class="blue-badge"></div>
          <img src="../../../assets/images/Shape.png" width="25" />
        </a>
      </li>
    </ul>
  </div>
</nav>
