<section id="home">
  <div class="row first-row">
    <div class="col-md-6">
      <div class="cards-container">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="card quick-stats">
              <div class="card-body">
                <h5 class="card-title">Members</h5>
                <p class="card-number">1886</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="card quick-stats">
              <div class="card-body">
                <h5 class="card-title">Members</h5>
                <p class="card-number">1886</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="card quick-stats">
              <div class="card-body">
                <h5 class="card-title">Members</h5>
                <p class="card-number">1886</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
