.member {
  @media only screen and (max-width: 991px) {
    .none_padding_right:nth-child(odd) {
      padding-left: 0;
    }
  }
  @media only screen and (max-width: 768px) {
    .none_padding_left:nth-child(even),
    .last-card {
      padding: 0;
    }
  }
  @media only screen and (max-width: 600px) {
    .none_padding_right {
      padding-left: 0;
    }
  }
  .date-pickers {
    display: flex;
    ::ng-deep .dropdown-menu {
      transform: translate(-115px, 36px) !important;
      will-change: auto !important;
    }
    .date-time-btn {
      padding: 0;
      border: 0;
      outline: 0;
      background-color: transparent;
      padding-right: 10px;
    }
    .date-picker-input {
      max-width: 120px;

      background-color: white;
      border: 1px solid #c4c4c4;
      border-radius: 8px;
      display: flex;
      align-items: center;
      input {
        background-color: transparent;
        border: 0;
        outline: none;
        box-shadow: none;
      }
    }
  }
  &__topCustomers {
    .first-letter {
      width: 9em;
      height: 9em;
    }
    h4 {
      text-transform: initial;
      color: black;
      font-family: Poppins;
    }
    img {
      width: 9em;
      height: 9em;
      background-color: #009f88;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
    .title {
      color: #2e384d;
      font-weight: 600;
      text-transform: initial;
    }
    .name {
      color: #009f88;
      font-weight: 600;
      text-transform: uppercase;
    }
    .days {
      color: #009f88;
      font-weight: 600;
      text-transform: capitalize;
    }
    &__buttons {
      margin-top: -1em;
      button {
        background-color: #ee3c62;
        color: white;
        font-weight: 600;
        font-size: inherit;
        font-family: Poppins;
        border-radius: 66px;
        padding: 0.5em 1.2em;
        margin-bottom: 0em;
        border-color: #ee3c62;
      }
    }
  }
  &__mainContent {
    &__monthly {
      @media only screen and (min-width: 991px) {
        padding-left: 0;
      }
      @media only screen and (max-width: 900px) {
        padding: 0;
      }

      &__content {
        #scrollableContent {
          height: 24em;
          padding: 0;
          margin: 0;
        }
      }
    }
    &__activityUser {
      @media only screen and (min-width: 991px) {
        padding-left: 0;
      }
      @media only screen and (max-width: 900px) {
        padding: 0;
      }

      &__content {
        #scrollableContent {
          height: 24em;
          padding: 0;
          margin: 0;
        }
      }
    }
    &__gender {
      @media only screen and (min-width: 991px) {
        padding-left: 0;
      }
      @media only screen and (max-width: 900px) {
        padding: 0;
      }

      &__content {
        #scrollableContent {
          height: 24em;
          padding: 0;
          margin: 0;
        }
      }
    }
    &__merchants {
      @media only screen and (min-width: 991px) {
        padding-left: 0;
      }
      @media only screen and (max-width: 900px) {
        padding: 0;
      }

      &__content {
        #scrollableContent {
          height: 24em;
          padding: 0;
          margin: 0;
        }
      }
    }
    &__activityTable {
      &__content {
        #scrollableContent {
          height: 24em;
          padding: 0;
          margin: 0;
          .feed {
            &__table {
              color: #062c45;
              tr:nth-child(odd) {
                background-color: #fcfcfe;
              }
              .title-td {
                text-align: start;
                width: 45%;
                padding-top: 1em;
              }
              thead {
                tr {
                  background-color: #ffffff;
                }
              }
              td {
                border-top: none;

                text-align: center;
                padding: 1em 0px;
                margin: auto;
                padding-top: 2em;
              }
              .img-td {
                $img-height: 3em;
                padding-top: 1em;

                img {
                  width: $img-height;
                  height: $img-height;
                  border-radius: 50%;
                }
                .first-letter {
                  width: 3em;
                  height: 3em;
                }
              }
              .value-td {
                color: #7b7b7b;
                padding-top: 2em;
              }
              &__avatar {
                width: 3em;
              }
            }
            &__date-img {
              padding: 0;
              img {
                width: 1.3em;
              }
            }
          }
        }
      }
    }
    &__MonthlyBranch {
      @media only screen and (max-width: 900px) {
        padding: 0;
      }
      .revenue {
        text-align: end;
        display: flex;
        place-self: flex-end;
        margin-bottom: 1em;
      }
      &__cards {
        .card {
          background-color: #f8f8f8;
        }
      }
    }
    &__punches {
      &__content {
        #scrollableContent {
          height: 24em;
        }
      }
    }
    &__downloads {
      &__content {
        #scrollableContent {
          height: 24em;
        }
      }
    }
  }
}
