.punch-map {
  font-size: 14px;
  .btn {
    font-size: 1em;
  }
  .dropdown-menu.show {
    box-shadow: 0 15px 45px -5px rgba(7, 10, 25, 0.25) !important;
    bottom: auto !important;
    top: 0 !important;
    width: max-content;
    .custom {
      input {
        border: none;
        color: #2f2f2f;
        text-transform: initial;
        font-weight: 600;
        font-size: 14px;
        box-shadow: none;
        padding: 0em 0em 1em 0em;
        outline: none;
        border-radius: 7px;
        margin: 0 2em;
      }
      input::placeholder {
        color: #2f2f2f;
        padding: 1em 0em;
      }
      input:focus {
        border: none;
        outline: none;
      }
    }
  }
  &__container {
    .btn:hover,
    .btn:focus,
    .btn:active {
      background-color: #179f88 !important;
      color: #ffffff !important;
      box-shadow: 0 0 0 7px #00a28724 !important;
      border: 2.4px solid #00a28724 !important;
    }
    .disable {
      background-color:#072D45;
      color: white;
      border: 0.4px solid #072D45;
      cursor: not-allowed;
      pointer-events: none;
      img{
        margin: 0;
      }
    }
    .filter {
      text-transform: uppercase;
      color: #8798ad;
    }
    text-transform: initial;
    padding: 1rem 1.8rem !important;
    &__input {
      padding: 0.8em 1em;
      background-color: #f5f6fa;
      border: #f5f6fa 1px solid;
      color: #b0bac9;
      border-radius: 19px;
    }
    &__input::placeholder {
      color: #b0bac9;
    }
    .form-control-feedback {
      position: absolute;
      z-index: 2;
      display: block;
      width: 89%;
      line-height: 2.375rem;
      text-align: end;
      pointer-events: none;
      color: #000000;
      img {
        width: 1.2em;
      }
    }
    &__buttons {
      display: flex;
      button {
        text-transform: inherit;
        border-radius: 50px;
        background-color: #f4f4f7;
        color: #585858;
        font-weight: 600;
        font-family: Poppins;
        padding: 0.6em 1.2em;
        box-shadow: 0 0 0 0px white !important;
        border: 0.4px solid #f4f4f7;
        margin-top: 0em;
        width: fit-content;
        margin-right: 1em;
        span {
          font-size: medium;
        }
      }
      .apply-filter {
        background-color: #179f88;
        color: white;
        border: 0.4px solid #179f88;
      }
      .filter-btn:active,
      .filter-btn:focus,
      .filter-btn:hover {
        background-color: #f4f4f7 !important;
        color: #585858 !important;
        border: 0.4px solid #ffffff !important;
        box-shadow: 0px 0px 0px 2px #c1c1c1 !important;
      }
      img {
        height: 1em;
        margin: 1em 1.5em 1em 0em;
      }
      .d-grid {
        display: grid;
        a {
          color: #a5a5a5;
          font-weight: 500;
          cursor: pointer;
          img {
            height: 1em;
            margin: 1em 0.4em 1em 0em;
          }
          a.dropdown-item {
            padding-top: 0;
          }
        }

        .dropdown-menu {
          span {
            position: absolute;
            z-index: 2;
            display: block;
            margin: 0.9em 1.5em 2.5em 2em;
            text-align: start;
            pointer-events: none;
          }
          input {
            color: #585858;
            box-shadow: 0 0 0 3px #00a28724;
            border: 2px solid #009f76;
            border-radius: 35px;
            padding: 0.5em 1em 0.5em 2.5em;
            margin: 1.5em;
            width: auto;
          }
          input::placeholder {
            color: #d5d5d5;
          }
          p {
            color: #585858;
            text-transform: uppercase;
            font-weight: 500;
            margin: 1em 1.6em;
          }
          a {
            margin: 1em;
            width: auto;
            color: black;
            cursor: pointer;
          }
          a.dropdown-item:hover {
            border-radius: 35px;
            background-color: #f6f6f6;
            width: auto;
            color: #179f88 !important;
          }
        }
        .input-group.date-picker-input {
          text-transform: inherit;
          border-radius: 50px;
          background-color: #f4f4f7;
          color: #585858;
          font-weight: 600;
          font-family: Poppins;
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content;
          box-shadow: 0 0 0 0px white !important;
          border: 0.4px solid #f4f4f7;
          cursor: pointer;
          margin: 0;
          margin-right: 1em;
          padding: 0.4em 0em;
          input {
            border: none;
            background-color: transparent;
            color: #585858;
            font-weight: 600;
            font-family: Poppins;
            margin: 0em 0em 0em 1em;
            width: 6.8em;
            padding: 0;
          }
          .input-group-append {
            button {
              padding: 0;
              border: 0;
            }
            button:hover,
            button:focus,
            button:active {
              background-color: #f4f4f7 !important;
              color: #ffffff !important;
              box-shadow: none !important;
              border: none !important;
            }
          }
        }
        .input-group.date-picker-input:hover {
          background-color: #f4f4f7 !important;
          color: #585858 !important;
          border: 0.4px solid #ffffff !important;
          box-shadow: 0px 0px 0px 2px #c1c1c1 !important;
        }
      }
      .push {
        background-color: #ff1a5f !important;
        color: white !important;
        border-radius: 4px !important;
        font-weight: 600;
        font-size: inherit;
        padding: 0.7em 4em !important;
        font-family: Poppins;
      }
    }
    .actions {
      button {
        background-color: white;
        border: 2.4px solid #c1c1c1;
        box-shadow: 0 0 0 7px #ffffff;
        border-radius: 60px;
        font-weight: 500;
        margin: 0em 0.7em;
        text-transform: initial;
        padding: 0.5em 1em;
        :hover {
          background-color: var(--zeal-color);
          color: white;
          box-shadow: 0 0 0 3px #00a28724;
          border: 2.4px solid white;
        }
      }
    }
  }
}
.dropup, .dropright, .dropdown, .dropleft {
  position: relative;
  display: contents;
}