<div class="table-container table-responsive scrollable-content">
  <table datatable class="table table-striped">
    <thead>
      <tr class="text-align-center">
        <th class="none_sorting">
          <button type="button" class="btn">Select all</button>
        </th>
        <th class="none_sorting_asc">Name</th>
        <th>Total visits</th>
        <th>Total Spent</th>
        <th>Card Complete</th>
        <th class="none_sorting_asc">Signup date</th>
        <th class="none_sorting_asc">Last visit</th>
        <!-- <th class="none_sorting_asc"></th> -->
      </tr>
    </thead>
    <tbody>
      <tr class="text-align-center">
        <td class="text-align-center">
          <!-- [(ngModel)]="item.selected" -->
          <input type="checkbox" />
        </td>
        <td class="name">name</td>
        <td>count</td>
        <td>total spent</td>
        <td>redeem count</td>
        <td>15/10</td>
        <td>15/10</td>
        <!-- <td>
              <button type="button" class="btn"> 
                  Push
              </button>
          </td> -->
      </tr>
    </tbody>
  </table>
</div>
