/* You can add global styles to this file, and also import other style files */
* {
  font-family: Poppins;
}
body {
  background-color: #f7f7fc;
}
.scrollable-content {
  height: 100%;
  overflow-y: scroll;
  padding: 10px 0;
}
.pages-x-padding {
  $x-padding: 2rem;
  padding-right: $x-padding;
  padding-left: $x-padding;
}
.pages-y-padding {
  $y-padding: 1.2rem;
  padding-top: $y-padding;
  padding-bottom: $y-padding;
}
.row {
  margin: 0;
}
.input-group.date-picker-input {
  cursor: pointer;
}
.zeal-white-btn {
  background-color: white;
  color: var(--zeal-color);
  font-size: 0.75em;
  font-weight: 600;
  border-radius: 30px;
  border: 2px solid var(--zeal-color);
  padding: 8px 24px;
  outline: none;
}
.zeal-white-btn:hover {
  box-shadow: 0 0 6px #0fcead;
}
