<div class="row p-0 m-0 member">
    <div class="col-lg-3 col-md-12 col-sm-12 card">
        <div class="member__topCustomers">
            <div class="card-body card_margin col-lg-12 col-md-12 col-sm-12">
                <div class="stats col-12 text-align-center">
                    <div class="col-12 mt-4">
                        <img src="../../../assets/images/Avatar2.png" alt="" />
                        <div class="col-12 member__topCustomers__buttons">
                            <button type="button" class="btn btn-primary push">Top customer</button>
                        </div>
                    </div>
                    <div class="col-12">
                        <h4 class="mt-3">Ahmed Mohamed</h4>
                    </div>
                     <div class="col-12">
                        <p class="mt-4 mb-2 name">Phone</p>
                    </div>
                    <div class="col-12">
                        <p class="title">01152238655</p>
                    </div>
                    <div class="col-12 ">
                        <p class="mt-4 mb-2 name">
                            Email
                        </p>
                    </div>
                    <div class=" col-12 ">
                        <p class="title">
                            xamek38456@questza.com
                        </p>
                    </div> 
                    <div class="col-12">
                        <p class="mt-4 mb-2 name">Gender</p>
                    </div>
                    <div class="col-12">
                        <p class="title">Male</p>
                    </div>
                    <div class="col-12">
                        <p class="mt-4 mb-2 name">Date of birth</p>
                    </div>
                    <div class="col-12">
                        <p class="title mb-2">5 septamber 1996</p>
                    </div>
                    <div class="col-12">
                        <p class="days">Birthday In 2 Days!</p>
                    </div>
                   
                    <div class="col-12">
                        <p class="mt-4 mb-2 name">Most Visited merchent</p>
                    </div>
                    <div class="col-12">
                        <p class="title">Batter half & co.</p>
                    </div>
                    
                    <div class="col-12 ml-0 mb-4 member__topCustomers__buttons">
                        <button type="button" class="btn btn-primary push ml-0 mt-4">
                            Push notification
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-12 col-12 p-0 m-0 row member__mainContent">
        <div class="col-lg-3 col-md-6 col-sm-6 none_padding_right">
            <div class="card card-stats">
                <div class="card-body">
                    <div class="stats">
                        <p class="card-title">Total spent</p>
                    </div>
                </div>
                <div class="pl-3">
                    <h2 class="card-header">
                        8571
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 none_padding_right">
            <div class="card card-stats">
                <div class="card-body">
                    <div class="stats">
                        <p class="card-title">Total visits</p>
                    </div>
                </div>
                <div class="pl-3">
                    <h2 class="card-header">
                        8571
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 none_padding_right">
            <div class="card card-stats">
                <div class="card-body">
                    <div class="stats">
                        <p class="card-title">Total punches</p>
                    </div>
                </div>
                <div class="pl-3">
                    <h2 class="card-header">
                        8571
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 none_padding_right">
            <div class="card card-stats">
                <div class="card-body">
                    <div class="stats">
                        <p class="card-title">Redeemed rewards</p>
                    </div>
                </div>
                <div class="pl-3">
                    <h2 class="card-header">
                        8571
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 none_padding_right member__mainContent__bg">
            <div class="card card-stats">
                <div class="bg-head"></div>
                <div class="member__mainContent__bg__brands">
                    
                    <div class="member__mainContent__bg__brands__p">
                        <p>Ahmed Mohamed</p>
                    </div>
                    <div class="member__mainContent__bg__brands__buttons">
                        <button type="button" class="btn btn-primary elsagher">
                            El sagheer salons
                        </button>
                    </div>
                    <div class="member__mainContent__bg__brands__buttons">
                        <button type="button" class="btn btn-primary">
                            Ahmed Mohamed
                        </button>
                    </div>
                    <div class="member__mainContent__bg__brands__buttons">
                        <button type="button" class="btn btn-primary">
                            Ahmed Mohamed
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 none_padding_right">
            <div class="card card-stats">
                <div class="card-body">
                    <div class="stats">
                        <p class="card-title">Redeemed rewards</p>
                    </div>
                </div>
                <div class="pl-3">
                    <h2 class="card-header">
                        8571
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 none_padding_right">
            <div class="card card-stats">
                <div class="card-body">
                    <div class="stats">
                        <p class="card-title">Redeemed rewards</p>
                    </div>
                </div>
                <div class="pl-3">
                    <h2 class="card-header">
                        8571
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 none_padding_right">
            <div class="card card-stats">
                <div class="card-body">
                    <div class="stats">
                        <p class="card-title">Redeemed rewards</p>
                    </div>
                </div>
                <div class="pl-3">
                    <h2 class="card-header">
                        8571
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 none_padding_right">
            <div class="card card-stats">
                <div class="card-body">
                    <div class="stats">
                        <p class="card-title">Redeemed rewards</p>
                    </div>
                </div>
                <div class="pl-3">
                    <h2 class="card-header">
                        8571
                    </h2>
                </div>
            </div>
        </div>
        
    </div>
</div>