<section id="merchant">
  <div class="row first-row">
    <div class="col-lg-3 mb-3 px-2">
      <div class="card merchant-info h-100">
        <div
          class="card-body d-flex flex-column justify-content-center align-items-center py-4"
        >
          <div class="img-container">
            <img
              class="merchant-img"
              [src]="merchant?.image"
              *ngIf="merchant?.image"
            />
          </div>
          <h2 class="merchant-name">
            {{ merchant?.name }}
          </h2>
          <p class="merchant-description">
            {{ merchant?.description }}
          </p>
          <p class="merchant-branches">
            BRANCHES: <span class="zeal-color">{{ merchant?.branches }}</span>
          </p>
          <p class="merchant-date">
            DATE ONBOARDED:
            <span class="zeal-color">{{
              merchant?.created_at | date: "MMM dd,YYYY"
            }}</span>
          </p>
          <p class="merchant-renewal">
            CONTRACT RENEWAL DATE:
            <span class="zeal-color">{{
              merchant?.contract_renewal_date | date: "MMM dd,YYYY"
            }}</span>
          </p>
        </div>
        <div class="card-body">
          <div class="category-container">
            <label class="category-label">Category</label>
            <div class="category-dropdown" *ngIf="merchant?.category">
              <span
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10.886"
                  height="6.224"
                  viewBox="0 0 10.886 6.224"
                >
                  <path
                    id="Icon_ionic-ios-arrow-down"
                    data-name="Icon ionic-ios-arrow-down"
                    d="M11.632,15.594l4.116-4.119a.775.775,0,0,1,1.1,0,.784.784,0,0,1,0,1.1l-4.664,4.667a.776.776,0,0,1-1.073.023l-4.7-4.686a.778.778,0,0,1,1.1-1.1Z"
                    transform="translate(-6.188 -11.246)"
                    fill="#009f88"
                  />
                </svg>
              </span>
              <select class="category-select" [(ngModel)]="selectedCategory">
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
          <div class="cuisines-container mt-3">
            <label class="category-label">Cuisines</label>
            <div class="cuisines-list">
              <span *ngFor="let c of merchant?.cusines" class="cuisine-name">{{
                c | titlecase
              }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9 mb-3">
      <div class="row">
        <div class="col-lg-3 col-md-6 px-2">
          <div class="card quick-stats">
            <div class="card-body">
              <h5 class="card-title">Members</h5>
              <p class="card-number">{{ merchant?.members }}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 px-2">
          <div class="card quick-stats">
            <div class="card-body">
              <h5 class="card-title">Visits</h5>
              <p class="card-number">{{ merchant?.visits }}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 px-2">
          <div class="card quick-stats">
            <div class="card-body">
              <h5 class="card-title">Punches</h5>
              <p class="card-number">{{ merchant?.punches }}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 px-2">
          <div class="card quick-stats">
            <div class="card-body">
              <h5 class="card-title">Spent</h5>
              <p class="card-number">{{ merchant?.spent }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 px-2">
          <div class="card team-members m-0">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <p class="main-cards-title">Team Members</p>
                <button class="zeal-white-btn">Edit</button>
              </div>
              <div class="table-responsive">
                <div class="scrollable-content">
                  <table class="table">
                    <tbody>
                      <tr *ngFor="let member of merchant?.team">
                        <td class="img-td">
                          <img [src]="member.image" />
                        </td>

                        <td>
                          <p class="m-0 member-name">{{ member.name }}</p>
                          <p class="m-0 member-title">{{ member.title }}</p>
                        </td>
                        <td>
                          <p class="m-0 member-email text-align-end">
                            {{ member.email }}
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 px-2">
          <div class="card">
            <div class="card-body punches">
              <div class="d-flex justify-content-between align-items-center">
                <p class="main-cards-title">Punches</p>
                <button class="zeal-white-btn">Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card"></div>
</section>
