<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a
      class="nav-item nav-link active"
      id="nav-analytics-tab"
      data-toggle="tab"
      href="#nav-analytics"
      role="tab"
      aria-controls="nav-analytics"
      aria-selected="true"
    >
      Analytics
    </a>
    <a
      class="nav-item nav-link"
      id="nav-customers-tab"
      data-toggle="tab"
      href="#nav-customers"
      role="tab"
      aria-controls="nav-customers"
      aria-selected="true"
    >
      Customers
    </a>
  </div>
  <div class="tab-content" id="nav-tabContent">
    <div
      class="tab-pane fade show active"
      id="nav-analytics"
      role="tabpanel"
      aria-labelledby="nav-analytics-tab"
    >
      <merch-analytics></merch-analytics>
    </div>
    <div
      class="tab-pane fade"
      id="nav-customers"
      role="tabpanel"
      aria-labelledby="nav-customers-tab"
    >
      <div class="w-100 pages-x-padding pages-y-padding">
        <div class="row">
          <div class="col-12 px-2">
            <div class="card">
              <app-customers></app-customers>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
